---
BasedOnStyle: LLVM
# Allow bin-packing of arguments/initializers
# Set to false to allow more compact braced lists
# Define your desired line width
ColumnLimit: 80
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
AllowShortBlocksOnASingleLine: true
AlignArrayOfStructures: Left
...
